.about {
	$bar-height: 40px;
	background: $about-bg-col;
	color: $about-fg-col;
	
	//overflow: hidden;
	
	transition: top 0.5s ease-out;
	
	.icon {
		width: 40px;
		height: 40px;
		fill: #fff;
	}
	
	.wrapper {
		width: 210px;
		padding: 20px;
		padding-bottom: 0;
		margin: 0 auto;
		
		text-align: center;
		
		.title {
			margin: 0;
			font-family: Impact;
			text-transform: uppercase;
			font-size: 64px;
			line-height: 60px;
			font-weight: 300;
			color: #f6f6f6;
			border-bottom: 7px solid #bc0202;	
		}
		
		.tagline {
			margin: 0;
			font-family: 
				Oswald
				//'Courier New'
			;
			font-size: 19px;
			//font-weight: 300;
			color: #c0c0c0;
			
			.tag {
				//font-family: 'Courier New';
				//font-size: 16px;
			}
			.bracket {
				
			}
		}
		
		& > .location {
			font-family: 'Courier New';
			font-size: 14px;
			////line-height: 40px;
			text-transform: uppercase;
			margin: 40px 0;
			vertical-align: middle;
			
			.icon {
				width: 40px;
			}
		}
		
		.socials {
			margin: 40px 0 0;
		}
	}
	
	position: fixed;
	z-index: 1;
	left: 0;
	top: -100%;
	margin: 0;
	margin-top: $bar-height; //margin-bottom: - $bar-height;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	
	&.cover {
		top: 0;
		margin-top: 0;
	}
	
	.bar {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 40px;
		
		text-align: center;
		background-color: $about-bg-col;
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
		
		.toggle {
			display: inline-block;
			height: $bar-height;
			line-height: $bar-height;
			
			font-family: Impact;
			text-transform: uppercase;
			font-size: 18px;
			
			text-decoration: none;
			color: #fff;
			
			.icon.collapse {
				width: 20px;
				height: 20px;
				display: none;
			}
			
			transition: transform 0.3s ease;
			
			&:hover {
				transform: scale(2);
			}
		}
	}
	
	&.cover .bar .toggle {
		.icon.collapse {
			display: inline-block;
		}
		span {
			display: none;
		}
	}
	
	@media screen and (min-width: $breakpoint) {
		width: $left-panel-width;
		top: 0;
		margin-top: 0;
		
		.bar {
			display: none;
		}
	}
}
