.item {

	overflow: hidden;

	padding: 0px;

	background-color: #f2f2f2;
	border: 1px solid #d3d3d3;
	color: #666;

	.title {
		margin: 0;
		padding: 20px 10px;
		text-align: center;
		
		font-family: Oswald;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 1px;
		
		$stripe-1-width: 3px;
		$stripe-2-width: $stripe-1-width;
		$stripe-1-col: rgba(150,150,150, 0.1);
		$stripe-2-col: transparent;
		$angle: 135deg;
		$l: 1.4142135623730951 * ($stripe-1-width + $stripe-2-width);
		$p0: 0;
		$p1: $p0 + $stripe-1-width;
		$p2: $p1 + $stripe-2-width;
		$p3: $p2 + $stripe-1-width;
		$p4: $p3 + $stripe-2-width;
		
		//background: url(../img/diag-patt.png);
		background-image: linear-gradient($angle, 
			$stripe-1-col $p0, $stripe-1-col $p1,
			$stripe-2-col $p1, $stripe-2-col $p2,		
			$stripe-1-col $p2, $stripe-1-col $p3,		
			$stripe-2-col $p3, $stripe-2-col $p4
		);
		background-size: $l $l;
		
		color: #ee4c54;
		text-shadow: 2px 2px 0px rgba(255,255,255,1), 2px 2px 2px rgba(0,0,0,0.5);
	}

	.description {
		margin: 0;
		margin-top: 20px;
		
		padding: 0 5px;
		
		text-align: center;
		
		font-family: 'Noto Serif', Georgia, serif;
		font-size: 14px;
	}

	.language {
		margin: 20px 0;
		
		font-family: sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		
		padding: 10px 20px;
		
		background-color: orange;
		border: 2px solid white;
		box-shadow: 0 0 1px 1px #e7d6d6;
		
		color: #f6f6f6;
	}
		
	&.html .language {
		background-color: #fed652;
	}
	&.css  .language {
		background-color: #ee9499;
	}
	&.javascript .language {
		background-color: #eebe94;
	}
	&.php .language {
		background-color: #d9e1a1;
	}

	.meta {
		margin: 0;
		margin-top: auto;
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		
		font-family: 
			monospace
			//'Noto Serif'
		;
		font-size: 12px;
		color: #aaa;
		
		span {
			margin: 0 5px;
		}
		
		.timestamp {
			margin-right: auto;
			word-spacing: -2px;
		}
		
		span .icon {
			vertical-align: middle;
			width: 18px;
			height: 18px;
			fill: #aaa;
		}
		span.forks .icon {
			width: 16px;
			height: 16px;
		}		
	}
	
	transition: box-shadow 0.3s ease-in;
	&:hover {
		box-shadow: 0 0 9px 1px rgba(0,0,0, 0.3);
		cursor: pointer;
	}
}