.projects {	
	//padding: 10px;
	position: relative;
	
	.github-link {
		display: block;
		margin: 0;
		margin-bottom: 20px;
		padding-top: 50px;
		text-align: center;
		
		svg {
			width: 80px;
			height: 80px;
		}
	}
	
	&.activity .github-link svg {
		animation: spin 1s infinite linear;
	}
	
	.items {
		list-style: none;
		margin: 0;
		padding: 0;
		
		display: flex;
		flex-direction: row; // flex-flow: row wrap;
		flex-wrap: wrap;
		justify-content: center;
		
		.item {
			// As a flex item
			flex: auto;
			box-sizing: border-box;
			width: 300px;
			height: auto;
			margin: 10px;
			max-width: 350px;
			
			// As a flexbox container
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			
			.language {
				align-self: center;
			}
		}
		@import 'item-inner';
	}
	
	@media screen and (min-width: $breakpoint) {
		margin: 0;

		.github-link {
			padding-top: 20px;
		}
	}
}
